{% extends 'base.html' %}

{% block content %} 

<h3>Create List</h3>
<form>
<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner position-relative card-tools-toggle">
                <div class="row gy-4">

<div class="col-xxl-3 col-md-6">
    <div class="form-group">
        <label for="song_name" class="form-label"> Playlist Name </label>
        
        <span style="color:red;">*</span>
          
          <div class="form-control-wrap">
              <input type="text" class="form-control" id="list_name" name="list_name" value=""  placeholder="enter playlist name"     required   >
          </div>	
      </div>
</div><!--col-->

<div class="col-xxl-3 col-md-6">
    <div class="pagination-goto d-flex justify-content-center justify-content-md-start gx-3">
        <div>Songs</div>
        <div>
            <form action="" method="GET">
            <select class="form-select" name="entries" onchange="this.form.submit()">
                <option value="" selected disabled>--Add Songs--</option>
{% comment %}         
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option> {% endcomment %}

                {% for i in song_name %}
                <option >{{ i.song_name }}</option>
                {% endfor %}
            </select>
            <!-- <button type="submit" class="btn btn-dim">
                <em class="icon ni ni-check-round-cut"></em>
            </button>   -->
            </form>
        </div>
        
    </div>
</div>




{% comment %} <div class="col-xxl-3 col-md-6">
    <div class="form-group">
        <label for="artist" class="form-label"> Add Songs </label>
        
        <span style="color:red;">*</span>
          
          <div class="form-control-wrap">
              <input type="text" class="form-control" id="artist" name="artist" value=""  placeholder="enter artist name"     required   >
          </div>	
      </div>
</div><!--col--> {% endcomment %}

{% comment %} {% for i in song_name %}
    <div class="nk-tb-item"> {% endcomment %}
        {% comment %} <div class="nk-tb-col tb-col-md">
            <span>{{ forloop.counter }}</span>
        </div> {% endcomment %}
        {% comment %} <div class="nk-tb-col tb-col-md">
            <span>{{ i.song_name }}</span>
        </div>
{% endfor %} {% endcomment %}

</div><!--row-->
</div><!-- .card-inner -->
</div><!-- .card-inner-group -->
</div><!-- .card -->
</div><!-- .nk-block -->
</form>
{% endblock content %}